.custom-404 {
  max-width: $xs;
  margin: auto;
  padding: 0px 18px;
  // .not-found h1 {
  //   // font-size: 3rem;
  //   // margin-bottom: 20px;
  // }
  // .not-found p {
  //   font-size: 1.5rem;
  //   margin-bottom: 20px;
  // }
  // .not-found a {
  //   font-size: 1.2rem;
  //   // color: #0070f3;
  //   text-decoration: none;
  // }
  // .not-found a:hover {
  //   text-decoration: underline;
  // }
}
