.blog {
  &.container {
    max-width: $xs;
    margin: auto;
  }
  padding-left: 18px;
  padding-right: 18px;

  table {
    width: 100%;
  }

  .posts {
    a {
      border-bottom: none;
    }

    .post-date {
      text-align: right;
      width: 30%;

      @media only screen and (max-width: $sm) {
        width: 40%;
      }
    }

    .post-title {
      p {
        font-weight: 500;
      }
    }

    .post-date p a:hover {
      border-bottom: none;
    }
  }
}

.post {
  max-width: $xs;
  margin: auto;
  padding-left: 18px;
  padding-right: 18px;

  .divider {
    height: 1px;
    background-color: $site-black;
    margin-bottom: 24px;
  }

  img {
    width: 100%;
  }
  em {
    color: $site-gray;
  }

  pre {
    border: 1px solid $site-gray;
    border-radius: 2px;
    padding: 12px;
    margin-bottom: 2rem;
    background-color: #e8e6e6;
  }
  code {
    text-wrap: auto;
    font-family: monospace;
    font-size: 16px;
  }

  ol {
    list-style-type: disc;
    margin-left: 18px;
    line-height: 1.5;
  }

  li {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 300;
  }

  p {
    code {
      background-color: #e8e6e6;
      padding-left: 6px;
      padding-right: 6px;

      border-radius: 4px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
  }

  .actions {
    width: 30%;

    @media only screen and (max-width: $sm) {
      width: 45%;
    }

    &.next {
      text-align: right;
    }

    p {
      font-size: 1rem;
      padding-bottom: 6px;
    }
    .label {
      // font-size: 16px; sadsdf
      color: $site-gray;
    }
  }
}
