.blog {
  &.container {
    max-width: $xs;
    margin: auto;
  }
  padding-left: 12px;
  padding-right: 12px;

  table {
    width: 100%;
  }

  .post-date {
    text-align: right;
    width: 30%;

    @media only screen and (max-width: $sm) {
      width: 40%;
    }
  }

  .post-title {
    p {
      font-weight: 500;
    }
  }

  .post-date p a:hover {
    border-bottom: none;
  }

  a {
    border-bottom: none;
  }
}

.post {
  max-width: $xs;
  margin: auto;
  padding-left: 12px;
  padding-right: 12px;
  h1 {
    // font-size: 36px;
    // padding-bottom: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
  }

  h3 {
    // padding-bottom: 1.5rem;
    padding-top: 0.5rem;
  }

  h4 {
    font-size: 16px;
    padding-bottom: 1.5rem;
    color: $site-gray;
  }

  .divider {
    border: 0.25px solid $site-gray;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  img {
    width: 100%;
  }
  em {
    color: $site-gray;
  }

  pre {
    border: 1px solid $site-gray;
    border-radius: 2px;
    padding: 12px;
    margin-bottom: 2rem;
    background-color: #e8e6e6;
  }
  code {
    text-wrap: auto;
    font-family: monospace;
    font-size: 16px;
  }

  ol {
    list-style-type: disc;
    margin-left: 18px;
    line-height: 1.5;
  }

  li {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 350;
  }

  p {
    code {
      background-color: #e8e6e6;
      padding-left: 6px;
      padding-right: 6px;

      border-radius: 4px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
  }

  .actions {
    width: 30%;

    @media only screen and (max-width: $sm) {
      width: 45%;
    }

    &.next {
      text-align: right;
    }

    p {
      font-size: 1rem;
      padding-bottom: 6px;
    }
    .label {
      // font-size: 16px;
      color: $site-gray;
    }
    a {
      // border-bottom: none;
    }
  }
}
