.blog,
.post {
  padding-left: 24px;
  padding-right: 24px;

  @media only screen and (max-width: $lg) {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.blog {
  padding-left: 12px;
  padding-right: 12px;

  table {
    width: 100%;
  }

  .post-date {
    text-align: right;
  }

  .post-date p a:hover {
    border-bottom: none;
  }

  a {
    border-bottom: none;
  }
}

.post {
  h1 {
    font-size: 36px;
    padding-bottom: 24px;
  }

  h2 {
    font-size: 20px;
    padding-bottom: 12px;
  }

  h4 {
    font-size: 16px;
    padding-bottom: 16px;
    color: $site-gray;
  }

  .divider {
    border: 0.25px solid $site-gray;
    margin-bottom: 24px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
  }
  img {
    width: 100%;
  }
  em {
    color: $site-gray;
  }
}
