.contact {
  padding-left: 12px;
  padding-right: 12px;

  &.container {
    max-width: $xs;
    margin: auto;
  }

  p {
    @media only screen and (max-width: $md) {
      padding-bottom: 0rem;
    }
  }
  .flex {
    @media only screen and (max-width: $md) {
      padding-bottom: 1.25rem;
    }
    display: flex;
    @media only screen and (max-width: $md) {
      display: block;
    }
    .left {
      font-weight: 800;
      width: 30%;
      @media only screen and (max-width: $md) {
        width: 100%;
      }
    }
    .right {
      width: 70%;
      @media only screen and (max-width: $md) {
        width: 100%;
      }
    }
  }
}
