@use "./globals" as *;

.contact {
  padding-left: 18px;
  padding-right: 18px;

  &.container {
    max-width: $xs;
    margin: auto;
  }

  p {
    @media only screen and (max-width: $md) {
      padding-bottom: 0rem;
    }
  }
  .social {
    @media only screen and (max-width: $md) {
      padding-bottom: 1.25rem;
    }
    display: flex;
    @media only screen and (max-width: $md) {
      display: block;
    }
    .left {
      font-weight: 800;
      width: 30%;
      @media only screen and (max-width: $md) {
        width: 100%;
      }
    }
    .right {
      display: flex;
      align-items: center;
      width: 70%;
      @media only screen and (max-width: $md) {
        width: 100%;
      }
    }
  }

  .info-icon {
    width: 20px;
    vertical-align: middle;
    margin-left: 9px;
    margin-bottom: 9px;
    @media only screen and (max-width: $md) {
      margin-top: 9px;
    }
  }

  .tooltip {
    font-weight: 300;
    max-width: 350px;
    background-color: $site-text;
    font-size: 1rem;
    color: $site-background;

    @media only screen and (max-width: $xs) {
      max-width: 300px;
    }
    @media only screen and (max-width: $xxs) {
      max-width: 80%;
    }
  }
}
