header {
  max-width: calc($xs + 18px);
  margin: 0px auto;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 60px 12px;
  justify-content: space-between;
  a,
  a:hover {
    border: none;
  }
  #viz {
    overflow: hidden;
  }

  @media only screen and (max-width: $xs) {
    width: auto;
    margin: 0px;
    justify-content: space-between;
    #viz {
      width: 100%;
    }

    padding: 18px 16px;
  }

  nav {
    font-size: 1rem;
    font-weight: 500;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    @media only screen and (max-width: $xs) {
      display: block;
    }
  }

  li {
    transition-duration: 0.3s;
    margin-right: 12px;
    text-decoration: none;
    border-radius: 6px;
    padding: 4px 6px;
    width: fit-content;
    font-weight: 800;
    @media only screen and (max-width: $xs) {
      margin-left: 0px;
      margin-bottom: 6px;
    }
    &.active {
      background-color: $site-yellow;
      width: fit-content;

      a {
        color: $site-text-on-yellow !important;
      }
    }
  }
}
