header {
  max-width: calc($xs + 12px);
  margin: auto;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 60px 12px;
  a,
  a:hover {
    border: none;
  }
  #viz {
    overflow: hidden;
    // max-width: 270px;
    width: 100%;
  }
  nav {
  }

  @media only screen and (max-width: $xs) {
    justify-content: space-between;
    #viz {
      width: 70%;
    }
    nav {
      width: 30%;
    }
    padding: 18px 16px;
  }

  nav {
    font-size: 1rem;
    font-weight: 500;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    @media only screen and (max-width: $xs) {
      display: block;
    }
  }

  li {
    transition-duration: 0.3s;
    margin-right: 12px;
    text-decoration: none;
    border-radius: 6px;
    padding: 4px 6px;
    width: fit-content;
    font-weight: 800;
    @media only screen and (max-width: $xs) {
      margin-left: 0px;
      margin-bottom: 6px;
    }
    &.active {
      background-color: $site-yellow;
      width: fit-content;
    }
  }
}
