@use "./globals" as *;

.home-wrapper {
  display: flex;
  flex-direction: column;
}

.home {
  max-width: $content;
  margin: 0 auto;
  padding-left: $space-md;
  padding-right: $space-md;
}

.wave {
  display: inline-block;
  cursor: default;
  transform-origin: 70% 70%;
  animation: wave-animation 3.5s 1.5s 1;
}

.wave:hover {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:$site-text;font-size:24px;'><text y='50%'>👋🏽</text></svg>")
      16 0,
    auto;
  animation: wave-animation 2.5s infinite;

  @media (max-width: $xs) {
    animation-iteration-count: 1;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }
}
