.projects {
  padding-left: 18px;
  padding-right: 18px;

  .intro {
    max-width: $xs;
    margin: auto;
  }

  .grid {
    max-width: $lg;
    margin: auto;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 2.5rem;
    @media only screen and (max-width: $md) {
      grid-gap: 18px;
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: $xs) {
      grid-template-columns: 1fr;
    }

    .story {
      overflow: hidden;
      border-radius: 4px;
      width: 100%;
      transition: 0.4s ease-in-out;
      box-shadow: 0 8px 16px 0 #66666640;

      .card-text {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 12px;
      }

      .story-name {
        transition: all 0.1s;
      }

      .story-tools {
        text-align: right;
      }

      .story-org {
        font-style: italic;
        padding-bottom: 4px;
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }

  fieldset {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border: none;
    padding: 0px;
    margin-top: 36px;
    margin-bottom: 48px;
    max-width: $md;
    margin: auto;
    padding-bottom: 48px;
    margin-top: 36px;
  }

  legend {
    padding-bottom: 24px;
    @media only screen and (max-width: $md) {
      max-width: 282px;
      margin: auto;
    }
  }

  .source {
    max-width: $xs;
    margin: auto;
  }

  .btn {
    padding-right: 9px;
  }

  .btn input {
    display: none;
  }

  .btn {
    margin-right: 6px;
    margin-bottom: 12px;
    line-height: 1.5rem;
    transition-duration: 0.3s;
    text-align: center;
    padding: 6px 6px;
    cursor: pointer;
    border-radius: 6px;
    display: inline-block;
    min-width: 82px;
    color: $site-text;
    &.active {
      color: $site-text-on-yellow;
      background-color: $site-yellow;
    }
  }

  @media only screen and (max-width: $md) {
    .btn span {
      max-width: 72px;
      min-width: 72px;
    }
  }

  .reveal {
    opacity: 1;
  }

  .no-reveal {
    opacity: 0;
  }
}
