@use "./globals" as *;

.resume {
  max-width: $xs;
  margin: auto;
  padding-left: 18px;
  padding-right: 18px;

  .exp {
    display: flex;
    @media only screen and (max-width: $md) {
      display: block;
    }
  }

  .left {
    width: 25%;
    padding-right: 2%;
    @media only screen and (max-width: $md) {
      width: 100%;
      padding: 0%;
    }
  }

  .right {
    width: 75%;
    padding-left: 2%;
    @media only screen and (max-width: $md) {
      width: 100%;
      padding: 0%;
    }
  }

  .reveal {
    opacity: 1;
  }

  .no-reveal {
    opacity: 0;
  }

  .section {
    padding-bottom: 36px;

    .item {
      padding-bottom: 18px;
    }
  }

  .skills {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: $xxs) {
      grid-template-columns: 1fr;
    }

    p {
      padding-bottom: 0.2rem;
    }
  }
}
