@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "reset-css";

$site-yellow: #f6c90e;
$site-black: #303841;
$site-blue: #2e4750;
$site-white: #f7f7f7;

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  padding-bottom: 2rem;
  font-weight: 800;
  @media only screen and (max-width: 540px) {
    font-size: 2.3rem;
    padding-bottom: 2.5rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
  padding-top: 1.75rem;
  font-weight: 800;
  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
    padding-bottom: 1.4rem;
  }
}

h3 {
  font-size: 1.25rem;
  padding-top: 0.8rem;
  padding-bottom: 0.75rem;
  font-weight: 800;
  @media only screen and (max-width: 600px) {
    font-size: 1.15rem;
    padding-bottom: 1.25rem;
  }
}

h4 {
  font-size: 1.125rem;
  padding-bottom: 0.75rem;
  padding-bottom: 0.5rem;
  // font-weight: 800;
  line-height: 1.5rem;
  @media only screen and (max-width: 600px) {
    font-size: 1rem;
    padding-bottom: 1.1rem;
  }
}

p,
li,
label {
  font-size: 1.125rem;
  line-height: 1.6rem;
  padding-bottom: 1rem;
}

// @media only screen and (max-width: 720px) {
//   .card-text {
//     .story-org {
//       font-size: 0.85rem;
//       line-height: 0.85rem;
//     }

//     .story-name {
//       display: block;
//       font-size: 1rem;
//       line-height: 1.25rem;
//       padding-top: 6px;
//     }
//   }
// }

@media only screen and (max-width: 600px) {
  li,
  label {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
body {
  margin: 0px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  max-width: 900px;
  margin: auto;
  box-sizing: border-box;
  font-family: ui-sans-serif, sans-serif;

  @media only screen and (max-width: 924px) {
    padding-right: 36px;
    padding-left: 36px;
  }
}

::selection {
  background: $site-yellow;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
a,
footer,
.icon {
  animation: text-fade-in ease 1s;
  -webkit-animation: text-fade-in ease 1s;
  -moz-animation: text-fade-in ease 1s;
  -o-animation: text-fade-in ease 1s;
  -ms-animation: text-fade-in ease 1s;
}

a {
  text-decoration: none;
  border-bottom: solid 2px $site-yellow;
  transition: all 0.1s;
  color: $site-black;
}

a:hover {
  border-bottom: solid 3px $site-yellow;
  transition: all 0.1s;
}

.layout {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;

  @media only screen and (max-width: 720px) {
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 600px) {
    grid-gap: 18px;
    grid-template-columns: 1fr;
  }
}

.story {
  overflow: hidden;
  border-radius: 4px;
  // margin: 2% 1% 2% 1%;
  width: 100%;
  transition: 1s ease-in-out;
  box-shadow: 0 8px 16px 0 #66666640;
}

.story,
.nav,
.home-buttons {
  a {
    border: none;
  }
}

.story-img {
  overflow: hidden;
  width: 100%;
  transition: all 0.5s;
  margin-bottom: 20px;
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 0px;
}

.card-text {
  padding-left: 8px;
  padding-right: 8px;
  // padding-bottom: 12px;
  padding-top: 12px;
}

.story-name {
  border-bottom: solid 0px $site-yellow;
  transition: all 0.1s;
}

.story-tools {
  text-align: right;
  // font-size: small;
}

.story-org {
  // font-size: medium;
  padding-bottom: 4px;
}

.ital {
  font-style: italic;
}

fieldset {
  text-align: center;
  border: none;
  padding: 0px;
}

.btn {
  padding-right: 9px;
}

.btn input {
  display: none;
}

.btn {
  margin-right: 8px;
  transition-duration: 0.3s;
  text-align: center;
  color: $site-black;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  min-width: 96px;
  max-width: 96px;
}

@media only screen and (max-width: 600px) {
  .btn span {
    max-width: 72px;
    min-width: 72px;
  }
}

.footer {
  padding-bottom: 36px;
  padding-top: 24px;
  @media only screen and (max-width: 600px) {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

hr {
  border: 0.1px solid $site-black;
}

.city-parent {
  position: relative;
}

.dc {
  white-space: nowrap;
  position: absolute;
  left: 0;
}

.dc::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background: $site-black;
  animation-name: strike;
  animation-duration: 8s;
}

.seoul-hidden {
  visibility: hidden;
  white-space: nowrap;
}

.seoul {
  background-color: white;
  // visibility: hidden;
  position: absolute;
  left: 0;
  white-space: nowrap;
}

@keyframes strike {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typeit {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  color: $site-black;
}

.wave {
  cursor: default;
  animation-name: wave-animation;
  animation-duration: 3.5s;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
  transform-origin: 70% 70%;
  display: inline-block;
}

.wave:hover {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:$site-black;font-size:24px;'><text y='50%'>👋🏽</text></svg>")
      16 0,
    auto;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .wave:hover {
    animation-iteration-count: 1;
  }
}

.icon {
  width: 36px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.5s;
  color: $site-black;
}

.icon:hover {
  transform: scale(1.25);
  color: $site-yellow;
}

header {
  nav {
    display: flex;
    justify-content: end;
    padding-top: 48px;
    padding-bottom: 48px;
    @media only screen and (max-width: 600px) {
      justify-content: center;
    }
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
  }

  li {
    transition-duration: 0.3s;
    margin-right: 12px;
    text-decoration: none;
    // border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    // border: 1px solid $site-black;
    background-color: $site-white;

    &.active {
      background-color: $site-yellow;
      color: $site-black;
      // border: 1px solid $site-black;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.exp {
  display: flex;
}

.left {
  width: 25%;
  padding-right: 2%;
}

.right {
  width: 75%;
  padding-left: 2%;
}

// .item h3 {
//   padding: 0px;
//   margin: 0px;
// }

// .item {
//   padding: 1% 0%;
// }

// .section {
//   padding: 2% 0%;
// }

.resume p {
  // font-size: medium;
}

.skills {
  display: flex;
}

.skill {
  width: 25%;
}

@media only screen and (max-width: 720px) {
  .exp {
    display: block;
  }

  .item {
    // padding: 3% 0%;
  }

  .left,
  .right {
    width: 100%;
    padding: 0%;
  }

  .skls {
    display: none;
  }
}

.reveal {
  opacity: 1;
}

.no-reveal {
  opacity: 0;
}

@keyframes text-fade-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
