@import "./normalize";

:root {
  --site-background: #f2f4f7;
  --site-text: #2e3440;
  --site-background-alt: #e1e6ee; /* pre */
  --site-text-alt: #3b4252;

  --site-yellow: #f6c90e;
  --site-text-on-yellow: #2b2f36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --site-background: #2e3440;
    --site-text: #eceff4;
    --site-background-alt: #3b4252; /* pre */
    --site-text-alt: #e5e9f0;

    --site-yellow: #f6c90e;
    --site-text-on-yellow: #2b2f36;
  }
}

$site-background: var(--site-background);
$site-text: var(--site-text);
$site-background-alt: var(--site-background-alt);
$site-text-alt: var(--site-text-alt);
$site-background: var(--site-background);

$site-yellow: var(--site-yellow);
$site-text-on-yellow: var(--site-text-on-yellow);

$xxs: 400px;
$xs: 672px;
$sm: 768px;
$md: 992px;
$lg: 1280px;

@import "./_header.scss";
@import "./_footer.scss";
@import "./_home.scss";
@import "./_projects.scss";
@import "./_resume.scss";
@import "./_contact.scss";
@import "./_blog.scss";

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  justify-content: space-between;
}

* {
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;
}

body {
  background-color: $site-background;
  color: $site-text;
}

a {
  text-decoration: none;
  border-bottom: solid 2px $site-yellow;
  transition: all 0.1s;
  color: $site-text;
}

a:hover {
  border-bottom: solid 3px $site-yellow;
  transition: all 0.1s;
}

h1 {
  font-size: 2.2rem;
  padding-bottom: 24px;
  font-weight: 800;
  margin: 0;
}

h2 {
  line-height: 1.75rem;
  margin: 0;
  padding-bottom: 18px;
  padding-top: 18px;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.75rem;
  margin: 0;
  padding-bottom: 16px;
  padding-top: 16px;
}

h4 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.75rem;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 12px;
}

p {
  font-size: 1.2rem;
  line-height: 1.75rem;
  padding-bottom: 12px;
  font-weight: 300;
  margin: 0;
}
