@use "./normalize";
@use "./globals" as *;

@use "./header";
@use "./footer";
@use "./home";
@use "./projects";
@use "./resume";
@use "./contact";
@use "./blog";

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  justify-content: space-between;
}

* {
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;
}

body {
  background-color: $site-background;
  color: $site-text;
}

a {
  text-decoration: none;
  border-bottom: solid 2px $site-yellow;
  transition: all 0.1s;
  color: $site-text;
}

a:hover {
  border-bottom: solid 3px $site-yellow;
  transition: all 0.1s;
}

h1 {
  font-size: 2.2rem;
  padding-bottom: 24px;
  font-weight: 800;
  margin: 0;
}

h2 {
  line-height: 1.75rem;
  margin: 0;
  padding-bottom: 18px;
  padding-top: 18px;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.75rem;
  margin: 0;
  padding-bottom: 16px;
  padding-top: 16px;
}

h4 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.75rem;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 12px;
}

p {
  font-size: 1.2rem;
  line-height: 1.75rem;
  padding-bottom: 12px;
  font-weight: 300;
  margin: 0;
}
